html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
  }
  
  .logowanie {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: auto;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .logowanie h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .logowanie form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  .logowanie label {
    margin-top: 10px;
    font-weight: bold;
  }
  
  .logowanie input[type="text"],
  .logowanie input[type="email"],
  .logowanie input[type="button"],
  .logowanie input[type="submit"] {
    width: 90%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    cursor: pointer; 
  }
  
  .logowanie input[type="text"]:hover,
  .logowanie input[type="email"]:hover {
    border-color: #278c7a;
    background-color: #e8e8e8;
  }
  
  .logowanie input[type="submit"] {
    background-color: #278c7a;
    color: white;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
  }
  
  .logowanie input[type="button"][value="Wróć"] {
    background-color: #999;
    color: white;
    margin-top: 10px;
  }
  
  .logowanie input[type="button"]:hover,
  .logowanie input[type="submit"]:hover {
    background-color: #1f6f57;
    border-color: #fff;
  }
  .overlap-group {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
  }
  .przycisk-logowania
  {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
  }