<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/globals.css" />
    <link rel="stylesheet" href="static/sprzedaz.css" />
    <title>Sprzedaż</title>
    <script src="static/sprzedaz.js"></script>
</head>

<body>
    <div class="meds_add">
        <div class="sales-container">
            <div class="rectangle">
                <h1>Sprzedaż</h1>
                <h2>Magazyn</h2>
                <div class="magazyn">
                    <table>
                        <thead>
                            <tr>
                                <th>Nazwa Leku</th>
                                <th>Ilość leku (sztuki/ml)</th>
                                <th>Dawka</th>
                                <th>Ilość opakowań</th>
                                <th>Data ważności</th>
                                <th>Cena</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for med in meds %}
                            <tr>
                                <td>{{ med[1] }}</td>
                                <td>{{ med[2] }}</td>
                                <td>{{ med[3] }}mg</td>
                                <td>{{ med[4] }}</td>
                                <td>{{ med[5] }}</td>
                                <td>{{ med[6] }}zł</td>
                                <td><button
                                        onclick="dodajDoKoszyka('{{ med[0] }}','{{ med[1] }}', '{{ med[2] }}', '{{ med[3] }}', '{{ med[4] }}', '{{ med[5] }}','{{ med[6] }}')"
                                        type="button">Dodaj do koszyka</button></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <h2>Koszyk</h2>
                <div class="koszyk">
                    <table id="tabelaKoszyk">
                        <thead>
                            <tr>
                                <th>Nazwa Leku</th>
                                <th>Ilość leku (sztuki/ml)</th>
                                <th>Dawka</th>
                                <th>Ilość opakowań</th>
                                <th>Data ważności</th>
                                <th>Cena</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <button onclick="sprzedajKoszyk()" type="button">Sprzedaż</button>
                <input type="button" value="Wróć" onclick="location.href='/apteka';" />
            </div>
        </div>
</body>

</html>